<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #f1f1f1;
    }

    #ansDisplay {
        background-color: #ffffff;
        margin: 100px auto;
        font-family: Raleway;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    .answer {
        height: 40px;
        background-color: #D3D3D3;
        border-radius: 4px;
        padding: 4px
    }

    .answer_radio {
        float: right;
    }
</style>
<body>

<div id="ansDisplay">
    <form method="post" action="{% url 'selected_result' %}">


        {% csrf_token %}
        <input type="hidden" name="result_id" value="{{ result_id }}">

        <p>Past Tense sentence</p>
        <div class="answer">
            <p>{{ sentences.past }}

                <span class="answer_radio"><input class="form-check-input" type="radio" name="gridRadios"
                                                  id="gridRadios1" value="{{ sentences.past }}"></span></p>

        </div>

        <br>
        <p>Present Tense sentence</p>
        <div class="answer">
            <p>{{ sentences.present }}

                <span class="answer_radio"><input class="form-check-input" type="radio" name="gridRadios"
                                                  id="gridRadios1" value="{{ sentences.present }}"></span></p>

        </div>

        <br>
        <p>Future Tense sentence</p>
        <div class="answer">
            <p>{{ sentences.future }}

                <span class="answer_radio"><input class="form-check-input" type="radio" name="gridRadios"
                                                  id="gridRadios1" value="{{ sentences.future }}"></span></p>

        </div>

        <br>
        <p>Progressive sentence</p>
        <div class="answer">
            <p>{{ sentences.progressive }}

                <span class="answer_radio"><input class="form-check-input" type="radio" name="gridRadios"
                                                  id="gridRadios1" value="{{ sentences.progressive }}"></span></p>

        </div>

        <br>
        <p>Negated sentence</p>
        <div class="answer">
            <p>{{ sentences.negated }}

                <span class="answer_radio"><input class="form-check-input" type="radio" name="gridRadios"
                                                  id="gridRadios1" value="{{ sentences.negated }}"></span></p>

        </div>

        <br>
        <p>Perfect sentence</p>
        <div class="answer">
            <p>{{ sentences.perfect }}

                <span class="answer_radio"><input class="form-check-input" type="radio" name="gridRadios"
                                                  id="gridRadios1" value="{{ sentences.perfect }}"></span></p>

        </div>

        <br>
        <p>Passive sentence</p>
        <div class="answer">
            <p>{{ sentences.passive }}

                <span class="answer_radio"><input class="form-check-input" type="radio" name="gridRadios"
                                                  id="gridRadios1" value="{{ sentences.passive }}"></span></p>

        </div>

        <br>

        <button type="submit" class="btn btn-success">SUBMIT</button>
    </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>


</body>
</html>
